<!-- Doit être présent dans toutes les pages -->
<!-- [xxx] = @Input() et (xxx) = @Output() => $event = le valeur émise par la méthode emit -->
<app-menu [links]="linksInApp" (onSelectLink)="onSelectLinkAction($event)"></app-menu>

<div>Active link = {{ appService.link }}</div>
<router-outlet></router-outlet>