<p>panier works!</p>

<div *ngFor="let item of Products">{{ item.title }} - Nombre d'article: {{ getNbItem(item) }} => total= {{ getTotalPrice(item)}}<button (click)="onRemoveAction(item.title)">Remove</button></div> 