<form [formGroup]="contactForm" (submit)="onSubmitAction()">
    <div class="form-field">
        <label>Email de contact</label>
        <!-- <input [formControl]="contactForm.get('email')"> -->
        <input type="email" formControlName="email">
    </div>
    <div class="form-field">
        <label>Sujet du contact</label>
        <input type="text" formControlName="sujet">
    </div>
    <div class="form-field">
        <label>Contenu du message</label>
        <textarea formControlName="message"></textarea>
    </div>

    <button type="submit">Envoyez</button>
</form>